.body{
    background-color: black;
    padding: 30px;
}
.we{
    color: red;
}
.search{
    width: 565px;
    border-radius: 20px;
}
.inp{
    border-radius: 20px;
    padding-right: 10px;
    background-color: red;
}
.input{
    height: 43px;
    border-radius: 20px;
    border: none;
    padding-right: 15px;
    width: 565px;
    background-color: red;
    color: white;
    font-size: 25px;
    text-transform: capitalize;
}
input:focus {
    outline: none;
  }
  .scrollable-container {
    width: 565px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 30px;
    border: 2px solid red;
}
::-webkit-scrollbar {
    width: 7px
  }
  
  ::-webkit-scrollbar-track {
    background: red;
  }
  
  ::-webkit-scrollbar-thumb {
    background: yellow;
  }
  #resultsContainer{
    width: 60%;
  }

.country-list div:hover {
    color: red;
}

#count{
    background-color: black;
    border: 2px double red;
    overflow-y: auto;
    max-height: 480px;
    padding-top: 15px;
}
@media (max-width: 759px) {
    .scrollable-container{
        width: 345px;
    }
    .search{
        width: 345px;
    }
    .input{
        width: 345px;
    }
   
}
@media (max-width: 1200px){
    .category1{
        display: block;
    }
}
/* .ico{
    background-color: black;
    border: none;
    border-radius: 20px;
    height: 25px;
    width: 35px;
    color: white;
    margin-right: -10px;
} */